.sidebar { 
    flex:0.35;
}




.sidebar__header {
    display: flex;
     justify-content: space-between;
    padding:20px;
    border-right: 1px solid lightgray;

}


.sidebar__headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}


.sidebar__search {
    display: flex;
    align-items:center;
    background-color: red;
    height:39px;
    
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width:90%;
    height: 35px;
    padding: 10px;
    margin:10px;

}


.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
}



.sidebar__searchContainer > .MuiSvgIcon-root {
    color:gray;
}

 


.sidebar__chats {
display: flex;
flex:1;
flex-direction: column;
overflow: scroll;
overflow: hidden;
}